In [1]:
import polars as pl

In [3]:

df

shape: (731, 6)
┌────────────┬─────────┬─────────┬────────────┬────────────┬──────┐
│ dteday     ┆ holiday ┆ weekday ┆ workingday ┆ weather_id ┆ cnt  │
│ ---        ┆ ---     ┆ ---     ┆ ---        ┆ ---        ┆ ---  │
│ str        ┆ i64     ┆ i64     ┆ i64        ┆ i64        ┆ i64  │
╞════════════╪═════════╪═════════╪════════════╪════════════╪══════╡
│ 2011-01-01 ┆ 0       ┆ 6       ┆ 0          ┆ 2          ┆ 985  │
│ 2011-01-02 ┆ 0       ┆ 0       ┆ 0          ┆ 2          ┆ 801  │
│ 2011-01-03 ┆ 0       ┆ 1       ┆ 1          ┆ 1          ┆ 1349 │
│ 2011-01-04 ┆ 0       ┆ 2       ┆ 1          ┆ 1          ┆ 1562 │
│ 2011-01-05 ┆ 0       ┆ 3       ┆ 1          ┆ 1          ┆ 1600 │
│ …          ┆ …       ┆ …       ┆ …          ┆ …          ┆ …    │
│ 2012-12-27 ┆ 0       ┆ 4       ┆ 1          ┆ 2          ┆ 2114 │
│ 2012-12-28 ┆ 0       ┆ 5       ┆ 1          ┆ 2          ┆ 3095 │
│ 2012-12-29 ┆ 0       ┆ 6       ┆ 0          ┆ 2          ┆ 1341 │
│ 2012-12-30 ┆ 0       ┆ 0       ┆ 0          ┆ 1          ┆ 1796 │
│ 2012-12-31 ┆ 0       ┆ 1       ┆ 1          ┆ 2          ┆ 2729 │
└────────────┴─────────┴─────────┴────────────┴────────────┴──────┘

In [176]:
df = pl.read_csv('bike.tsv', separator='\t')
df2 = pl.read_csv('weather.csv', encoding='shift-jis')
df = df.join(df2, left_on='weather_id', right_on='weather_id')
df = df.drop('weather_id')
df.tail(10)

shape: (10, 6)
┌────────────┬─────────┬─────────┬────────────┬──────┬─────────┐
│ dteday     ┆ holiday ┆ weekday ┆ workingday ┆ cnt  ┆ weather │
│ ---        ┆ ---     ┆ ---     ┆ ---        ┆ ---  ┆ ---     │
│ str        ┆ i64     ┆ i64     ┆ i64        ┆ i64  ┆ str     │
╞════════════╪═════════╪═════════╪════════════╪══════╪═════════╡
│ 2012-12-22 ┆ 0       ┆ 6       ┆ 0          ┆ 1749 ┆ 晴れ    │
│ 2012-12-23 ┆ 0       ┆ 0       ┆ 0          ┆ 1787 ┆ 晴れ    │
│ 2012-12-24 ┆ 0       ┆ 1       ┆ 1          ┆ 920  ┆ 曇り    │
│ 2012-12-25 ┆ 1       ┆ 2       ┆ 0          ┆ 1013 ┆ 曇り    │
│ 2012-12-26 ┆ 0       ┆ 3       ┆ 1          ┆ 441  ┆ 雨      │
│ 2012-12-27 ┆ 0       ┆ 4       ┆ 1          ┆ 2114 ┆ 曇り    │
│ 2012-12-28 ┆ 0       ┆ 5       ┆ 1          ┆ 3095 ┆ 曇り    │
│ 2012-12-29 ┆ 0       ┆ 6       ┆ 0          ┆ 1341 ┆ 曇り    │
│ 2012-12-30 ┆ 0       ┆ 0       ┆ 0          ┆ 1796 ┆ 晴れ    │
│ 2012-12-31 ┆ 0       ┆ 1       ┆ 1          ┆ 2729 ┆ 曇り    │
└────────────┴─────────┴─────────┴────────────┴──────┴─────────┘

In [182]:
# 金曜か土曜ならば１とする週末フラグ列を作ってください。
df = df.with_columns(
    pl.when((pl.col("weekday")==5) | (pl.col("weekday")==6)).then(1).otherwise(0).alias("weekend")
)

shape: (731, 7)
┌────────────┬─────────┬─────────┬────────────┬──────┬─────────┬─────────┐
│ dteday     ┆ holiday ┆ weekday ┆ workingday ┆ cnt  ┆ weather ┆ weekend │
│ ---        ┆ ---     ┆ ---     ┆ ---        ┆ ---  ┆ ---     ┆ ---     │
│ str        ┆ i64     ┆ i64     ┆ i64        ┆ i64  ┆ str     ┆ i32     │
╞════════════╪═════════╪═════════╪════════════╪══════╪═════════╪═════════╡
│ 2011-01-01 ┆ 0       ┆ 6       ┆ 0          ┆ 985  ┆ 曇り    ┆ 1       │
│ 2011-01-02 ┆ 0       ┆ 0       ┆ 0          ┆ 801  ┆ 曇り    ┆ 0       │
│ 2011-01-03 ┆ 0       ┆ 1       ┆ 1          ┆ 1349 ┆ 晴れ    ┆ 0       │
│ 2011-01-04 ┆ 0       ┆ 2       ┆ 1          ┆ 1562 ┆ 晴れ    ┆ 0       │
│ 2011-01-05 ┆ 0       ┆ 3       ┆ 1          ┆ 1600 ┆ 晴れ    ┆ 0       │
│ …          ┆ …       ┆ …       ┆ …          ┆ …    ┆ …       ┆ …       │
│ 2012-12-27 ┆ 0       ┆ 4       ┆ 1          ┆ 2114 ┆ 曇り    ┆ 0       │
│ 2012-12-28 ┆ 0       ┆ 5       ┆ 1          ┆ 3095 ┆ 曇り    ┆ 1       │
│ 2012-12-29 ┆ 0       ┆ 6       ┆ 0          ┆ 1341 ┆ 曇り    ┆ 1       │
│ 2012-12-30 ┆ 0       ┆ 0       ┆ 0          ┆ 1796 ┆ 晴れ    ┆ 0       │
│ 2012-12-31 ┆ 0       ┆ 1       ┆ 1          ┆ 2729 ┆ 曇り    ┆ 0       │
└────────────┴─────────┴─────────┴────────────┴──────┴─────────┴─────────┘

In [190]:
df.filter(pl.col("workingday")==1).group_by("weather").agg(pl.col("cnt").sum())

shape: (3, 2)
┌─────────┬─────────┐
│ weather ┆ cnt     │
│ ---     ┆ ---     │
│ str     ┆ i64     │
╞═════════╪═════════╡
│ 曇り    ┆ 725432  │
│ 雨      ┆ 28792   │
│ 晴れ    ┆ 1542338 │
└─────────┴─────────┘

In [174]:
df.filter(pl.col("workingday") == 1).group_by("weather").agg(
     pl.col("cnt").mean()
)

shape: (3, 2)
┌─────────┬─────────────┐
│ weather ┆ cnt         │
│ ---     ┆ ---         │
│ str     ┆ f64         │
╞═════════╪═════════════╡
│ 晴れ    ┆ 5023.90228  │
│ 雨      ┆ 1799.5      │
│ 曇り    ┆ 4098.485876 │
└─────────┴─────────────┘

In [53]:

df3 = df.select('dteday','holiday')
df4 = df.select('weekday','workingday')

# 横に結合
pl.concat([df3, df4], how='horizontal')

shape: (731, 4)
┌────────────┬─────────┬─────────┬────────────┐
│ dteday     ┆ holiday ┆ weekday ┆ workingday │
│ ---        ┆ ---     ┆ ---     ┆ ---        │
│ str        ┆ i64     ┆ i64     ┆ i64        │
╞════════════╪═════════╪═════════╪════════════╡
│ 2011-01-01 ┆ 0       ┆ 6       ┆ 0          │
│ 2011-01-02 ┆ 0       ┆ 0       ┆ 0          │
│ 2011-01-03 ┆ 0       ┆ 1       ┆ 1          │
│ 2011-01-04 ┆ 0       ┆ 2       ┆ 1          │
│ 2011-01-05 ┆ 0       ┆ 3       ┆ 1          │
│ …          ┆ …       ┆ …       ┆ …          │
│ 2012-12-27 ┆ 0       ┆ 4       ┆ 1          │
│ 2012-12-28 ┆ 0       ┆ 5       ┆ 1          │
│ 2012-12-29 ┆ 0       ┆ 6       ┆ 0          │
│ 2012-12-30 ┆ 0       ┆ 0       ┆ 0          │
│ 2012-12-31 ┆ 0       ┆ 1       ┆ 1          │
└────────────┴─────────┴─────────┴────────────┘

In [100]:
df.get_column('cnt').map_elements(lambda x: (round(x, -1)), return_dtype=pl.Int64)

shape: (731,)
Series: 'cnt' [i64]
[
	980
	800
	1350
	1560
	1600
	…
	2110
	3100
	1340
	1800
	2730
]

In [41]:
# 縦方向に結合
pl.concat([df2, df2])

shape: (6, 2)
┌────────────┬─────────┐
│ weather_id ┆ weather │
│ ---        ┆ ---     │
│ i64        ┆ str     │
╞════════════╪═════════╡
│ 1          ┆ 晴れ    │
│ 2          ┆ 曇り    │
│ 3          ┆ 雨      │
│ 1          ┆ 晴れ    │
│ 2          ┆ 曇り    │
│ 3          ┆ 雨      │
└────────────┴─────────┘

In [114]:
df = pl.read_csv('Bank.csv')
# df.select(
#     'age', 'amount', 'job'
    
# ).filter()

df.null_count()

shape: (1, 16)
┌─────┬─────┬─────┬─────────┬───┬──────────┬──────────┬──────────┬─────┐
│ id  ┆ age ┆ job ┆ marital ┆ … ┆ duration ┆ campaign ┆ previous ┆ y   │
│ --- ┆ --- ┆ --- ┆ ---     ┆   ┆ ---      ┆ ---      ┆ ---      ┆ --- │
│ u32 ┆ u32 ┆ u32 ┆ u32     ┆   ┆ u32      ┆ u32      ┆ u32      ┆ u32 │
╞═════╪═════╪═════╪═════════╪═══╪══════════╪══════════╪══════════╪═════╡
│ 0   ┆ 0   ┆ 0   ┆ 0       ┆ … ┆ 7044     ┆ 0        ┆ 0        ┆ 0   │
└─────┴─────┴─────┴─────────┴───┴──────────┴──────────┴──────────┴─────┘